example/test-springboot-jaxws/test-jaxwsboot-consumer/webapp/WEB-INF/wsdl/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions name="CalculatorService" targetNamespace="http://service.jaxwsboot.example.fcpy.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://service.jaxwsboot.example.fcpy.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.jaxwsboot.example.fcpy.com/" schemaLocation="CalculatorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part element="tns:add" name="parameters"/>
  </message>
  <message name="addResponse">
    <part element="tns:addResponse" name="parameters"/>
  </message>
  <message name="substract">
    <part element="tns:substract" name="parameters"/>
  </message>
  <message name="substractResponse">
    <part element="tns:substractResponse" name="parameters"/>
  </message>
  <message name="multiply">
    <part element="tns:multiply" name="parameters"/>
  </message>
  <message name="multiplyResponse">
    <part element="tns:multiplyResponse" name="parameters"/>
  </message>
  <message name="divide">
    <part element="tns:divide" name="parameters"/>
  </message>
  <message name="divideResponse">
    <part element="tns:divideResponse" name="parameters"/>
  </message>
  <portType name="CalculatorDelegate">
    <operation name="add">
      <input message="tns:add" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/addRequest"/>
      <output message="tns:addResponse" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/addResponse"/>
    </operation>
    <operation name="substract">
      <input message="tns:substract" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/substractRequest"/>
      <output message="tns:substractResponse" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/substractResponse"/>
    </operation>
    <operation name="multiply">
      <input message="tns:multiply" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/multiplyRequest"/>
      <output message="tns:multiplyResponse" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/multiplyResponse"/>
    </operation>
    <operation name="divide">
      <input message="tns:divide" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/divideRequest"/>
      <output message="tns:divideResponse" wsam:Action="http://service.jaxwsboot.example.fcpy.com/CalculatorDelegate/divideResponse"/>
    </operation>
  </portType>
  <binding name="CalculatorPortBinding" type="tns:CalculatorDelegate">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="add">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="substract">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="multiply">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="divide">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port binding="tns:CalculatorPortBinding" name="CalculatorPort">
      <soap12:address location="http://localhost:9080/test-jaxwsboot-provider/CalculatorService"/>
    </port>
  </service>
</definitions>