example/test-springboot-jaxws/test-jaxwsboot-consumer/webapp/WEB-INF/wsdl/ConverterService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions name="ConverterService" targetNamespace="http://service.jaxwsboot.example.fcpy.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://service.jaxwsboot.example.fcpy.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.jaxwsboot.example.fcpy.com/" schemaLocation="ConverterService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="encodeHex">
    <part element="tns:encodeHex" name="parameters"/>
  </message>
  <message name="encodeHexResponse">
    <part element="tns:encodeHexResponse" name="parameters"/>
  </message>
  <message name="UnsupportedEncodingException">
    <part element="tns:UnsupportedEncodingException" name="fault"/>
  </message>
  <message name="toUpperCase">
    <part element="tns:toUpperCase" name="parameters"/>
  </message>
  <message name="toUpperCaseResponse">
    <part element="tns:toUpperCaseResponse" name="parameters"/>
  </message>
  <portType name="ConverterDelegate">
    <operation name="encodeHex">
      <input message="tns:encodeHex" wsam:Action="http://service.jaxwsboot.example.fcpy.com/ConverterDelegate/encodeHexRequest"/>
      <output message="tns:encodeHexResponse" wsam:Action="http://service.jaxwsboot.example.fcpy.com/ConverterDelegate/encodeHexResponse"/>
      <fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://service.jaxwsboot.example.fcpy.com/ConverterDelegate/encodeHex/Fault/UnsupportedEncodingException"/>
    </operation>
    <operation name="toUpperCase">
      <input message="tns:toUpperCase" wsam:Action="http://service.jaxwsboot.example.fcpy.com/ConverterDelegate/toUpperCaseRequest"/>
      <output message="tns:toUpperCaseResponse" wsam:Action="http://service.jaxwsboot.example.fcpy.com/ConverterDelegate/toUpperCaseResponse"/>
    </operation>
  </portType>
  <binding name="ConverterPortBinding" type="tns:ConverterDelegate">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="encodeHex">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="UnsupportedEncodingException">
        <soap12:fault name="UnsupportedEncodingException" use="literal"/>
      </fault>
    </operation>
    <operation name="toUpperCase">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ConverterService">
    <port binding="tns:ConverterPortBinding" name="ConverterPort">
      <soap12:address location="http://localhost:9080/test-jaxwsboot-provider/ConverterService"/>
    </port>
  </service>
</definitions>